<!DOCTYPE html>
<html>

<head>
    <title>Sistema de Controle de Receitas</title>
</head>

<body>
<center>
    <h1> Sistema de Controle de Receitas </h1>

    <a href="/usuarios/create"> <button> Cadastrar Usu치rio </button> </a>
    <a href="/usuarios/list"> <button> Listar Usu치rios </button> </a>

    <br> <br>

    <a href="/contas/create"> <button> Cadastrar Conta Banc치ria </button> </a>
    <a href="/contas/list"> <button> Listar Contas Banc치rias </button> </a>

    <br> <br>

    <a href="/despesas/create"> <button> Cadastrar Despesa </button> </a>
    <a href="/despesas/list"> <button> Listar Despesas </button> </a>

    <br> <br>

    <a href="/historico/create"> <button> Cadastrar Historico </button> </a>
    <a href="/historico/list"> <button> Listar Historico </button> </a>

    <br><br>

    {{{body}}}
</center>
</body>

</html>
