<table border="1px">
    <tr>
        <td> Login </td>
        <td> Senha</td>
    </tr>
    {{#each usuarios}}
    <tr>
        <td>{{login}}</td>
        <td>{{senha}}</td>
    </tr>
    {{/each}}
</table>